---
title: "周末鬆一鬆：保齡球同樂"
slug: "bowling1808"
summary: ""
createdAt: 2018-08-04
category: ["fitness"]
event_start_date: "2018-08-04"
event_time: "10：30-12：30"
event_location: "荃灣灣景花園保齡球場"
event_fee: "$85/位(包括租用一對保齡球鞋費用)"
tags: "保齡球"
---

<script>
  const assetsBasePath = `blog-posts/2018-08-04-${slug}`;
</script>

日期：2018年8月4日(六)<br>
時間：上午10：30-12：30<br>
地點：荃灣灣景花園保齡球場<br>
費用：$85/位(包括租用一對保齡球鞋費用)<br>
備註：報名以網站報名為準，我們將會與閣下聯絡確認報名<br>
打完保齡，一齊食午餐交流，費用自付，時間預計12：30-13：30