---
title: "週末郊遊鬆一鬆@鄉土情懷·西貢古道"
slug: "hiking1703"
summary: ""
createdAt: 2017-03-18
category: ["hiking"]
event_start_date: "2017-03-18"
event_time: "09:30-13:00"
event_location: "西貢古道"
event_fee: "免費"
tags: "西貢古道"
---

<script>
  const assetsBasePath = `blog-posts/2017-03-18-${slug}`;
</script>

平時侷促在辦公室及煩囂市區，放假一於逃離市區抖抖氣！🚶
今次我們選擇充滿鄉土情懷的西貢古道，走訪百花林，途經逾百年的國父孫中山先生母親楊太君夫人墓，俯瞰西貢及白沙灣一帶幽美景色。古道沿途細味田園風光，再訪有逾400年歷史，現已列為一級歷史建築的車公古廟。
行完山，一齊食埋晏先走！🍜
預計行山時間為3小時。
備註：全程主要為下坡路段，近九成為混凝土小徑，輕鬆易行，其餘為地衣處處的石砌古道。
日期：18/3/2016 星期六
集合時間：上午9:30，不見即散 (若不午餐，預計13:00到西貢蠔涌)
集合地點：港鐵鑽石山站C2地面出口集合 (前往坐92號巴士，「德望中學」下車)
路線：飛鵝山道>百花林(孫中山母親之墓)>大藍湖>蠔涌
🍚 午餐暫定13:00-14:30，地點稍後確定。
若不午餐，請報名時註明。