---
title: "領導才能與團隊精神"
slug: "dick-lee"
summary: "香港警務處榮休處長李明逵先生"
createdAt: 2018-10-27
category: ["be-our-guess"]
event_start_date: "2018-10-27"
event_time: "19:15-21:30"
event_location: "九龍旺角登打士街56號柏裕商業中心15樓安利體驗館會議室B"
event_fee: "$90一位 (包括三文治及飲品)"
tags: "領導力，團隊精神"
---

<script>
  const assetsBasePath = `blog-posts/2018-10-27-${slug}`;
</script>

名人面對面：領導才能與團隊精神<br>
主講嘉賓：香港警務處榮休處長李明逵先生