---
title: "飛鷹媽媽‧三半人‧再生勇士鄧英蘭"
slug: "ms-tang"
summary: "鄧英蘭女士"
createdAt: 2018-09-09
category: ["be-our-guess"]
event_start_date: "2018-09-09"
event_time: "19:15-21:30"
event_location: "旺角登打士街56號家樂坊15樓安利體驗館會議室B"
event_fee: "$90一位 (包三文治及飲品)"
tags: "再生勇士"
---

<script>
  const assetsBasePath = `blog-posts/2018-09-09-${slug}`;
</script>

日期：2018年9月9日(日)<br>
時間：晚上7：15 - 9：30<br>
地點：旺角登打士街56號家樂坊15樓安利體驗館會議室B<br>
費用：$90一位 (包三文治及飲品)