---
title: "henry-cheung"
slug: "henry-cheung"
summary: "des"
createdAt: 2021-01-10
category: ["be-our-guess"]
event_start_date: "2016-01-17"
event_end_date: ""
tags: []
---

<script>
  const assetsBasePath = `blog-posts/2021-01-10-${slug}`;
</script>

event content..

![彈珠人競技枱]({assetsBasePath}/1.jpg "400")
*the image caption*