---
title: "Empower X Trailblazer運動及戶外用品專門店專享特賣"
slug: "trailblazer"
summary: ""
createdAt: 2019-03-23
category: ["hiking"]
event_start_date: "2019-03-23"
event_time: "14：00-16：00"
event_location: "運動及戶外用品專門店 Trailblazer"
event_fee: "自費"
tags: ""
---

<script>
  const assetsBasePath = `blog-posts/2019-03-23-${slug}`;
</script>

特備節目
運動及戶外用品專門店 Trailblazer 將於3月23日下午2-4時為 Empower 舉行特賣😀，無論防跣行山鞋、跑步鞋、休閒鞋，以至衫褲和計時器等用品，均會提供極吸引的折扣優惠， *唯 Empower 友好專享* 。🤗

Trailblazer 也是與正生書院陳校長合作舉行跑步工作坊的機構，並為正生書院舉行 Can Run 籌款。有關 Trailblazer 的介紹，請參考 https://trbzr.com，或
Facebook.com/trbzr