---
title: "眼眉跳"
slug: "eye190830"
summary: ""
createdAt: 2019-08-30
category: ["nutrition"]
author: "joyce"
tags: ["眼眉跳","自律神經"]
coverCaption: ""
---

<script>
  const assetsBasePath = `blog-posts/2019-08-30-${slug}`;
</script>

眼眉跳不停，你試過咪？

第一心理反應係問左吉右凶，定右吉左凶？

莫問吉凶，休息不足、用眼過度、壓力大、自律神經出現異常，都會導致眼眉跳！

當自律神經異常，肌肉便會不由自主地放鬆抽搐。其中一項影響自律神經系統的，就是體內鉀和鈣是否平衡。
下次眼尾跳，大家可嘗試熱敷眼睛，多作休息，並刻意多攝取富含鈣質的食物呢！
