---
title: "周末郊遊鬆一鬆:古村水庫 - 西貢上窰及萬宜水庫西壩"
slug: "hiking1912"
summary: ""
createdAt: 2019-12-21
category: ["hiking"]
event_start_date: "2019-12-21"
event_time: "09:30-15:00"
event_location: "萬宜水庫西壩"
event_fee: "免費"
tags: "萬宜水庫，上窰家樂徑"
---

<script>
  const assetsBasePath = `blog-posts/2019-12-21-${slug}`;
</script>

平時侷促在辦公室及煩囂市區，放假一於逃離市區抖抖氣！🚶
今次我地出發西貢，由上窰村出發往萬宜水庫西壩，沿途山景海景，終點看水庫的宏偉美景！😀
行山後，一齊到西貢市飲埋茶先走🍜。
今次登山路線：
上窰巴士站->北潭涌自然教育徑->上窰民俗文物館->上窰家樂徑->萬宜水庫西壩
備註：山路及水泥路
日期：21/12/2019 星期六
時間：9:30-15:00
集合地點：西貢市中心巴士站94號（9:30am)
備註：一起坐巴士到上窰巴士站 （自費），預計13:30到北潭涌坐巴士回西貢市，14:00-15:00一起自費午餐。