---
title: "看見藍天白雲，人特別醒神？"
slug: "post190913"
summary: ""
createdAt: 2019-09-13
category: ["nutrition"]
author: "joyce"
tags: ["維他命D","血清素"]
---

<script>
  const assetsBasePath = `blog-posts/2019-09-13-${slug}`;
</script>

陰天雨天情緒則相對低落？

曬太陽有助合成維他命D。維他命D能夠增加血液中的血清素濃度，從而穩定情緒。若血清素分泌不足，會引起焦躁、衝動、情緒低落，甚至憂鬱等問題。😨

每天曬5至10分鐘太陽，吸收的維他命D已有助心情開朗。😄

大家可把握午飯時間到戶外散步，紓解心情之餘也增加運動量啊！🚶🏻‍♂🚶🏻‍♀

食物中，油脂較高的魚類（例如三文魚、沙甸魚、吞拿魚）、蛋黃、肝臟等也含較豐富維他命D呢！😉