---
title: "活學營養：活得有骨氣・預防骨質疏鬆"
slug: "health1903"
summary: ""
createdAt: 2019-03-24
category: ["nutrition"]
event_start_date: "2019-03-24"
event_time: "12:00-13:30"
event_location: "旺角家樂坊15樓安利體驗館C室"
event_fee: "$30"
tags: "骨質疏鬆"
---

<script>
  const assetsBasePath = `blog-posts/2019-03-24-${slug}`;
</script>

都巿人常見的毛病：骨質疏鬆<br>
是否年紀大才有骨質疏鬆？西方人飲食含大量鈣質，為何也會骨質疏鬆？骨質跟腸胃和情緒也有關？飲食和營養如何調理，才能令我們更有骨氣？