---
title: "最最最重要的蛋白質"
slug: "post201121"
summary: ""
createdAt: 2020-11-21
category: ["nutrition"]
author: "melissa"
tags: "蛋白質，胺基酸"
---

<script>
  const assetsBasePath = `blog-posts/2020-11-21-${slug}`;
</script>

蛋白質Protein源自於希臘文的proteios，代表「第一品質」；又或來自於protos，意思是「第一」🥳。全身細胞皆由蛋白質組成，膽汁及尿液除外。

胺基酸是構成蛋白質的單位，當中9種為必需胺基酸：組胺酸、異亮胺酸、亮胺酸、賴胺酸、甲硫胺酸、苯丙胺酸、蘇胺酸、色胺酸和纈胺酸；這些胺基酸身體無法合成，必須從食物取得。身體利用這9種必需胺基酸，合成22種胺基酸💪🏻。

確定蛋白質品質較常用的方法被稱為“蛋白質消化率校正胺基酸評分”（PDCAAS），最高分數是1，代表蛋白質消化後，每單位蛋白質提供人體所需的100%必要胺基酸。

疫情與流感肆虐，蛋白質如何有助我們提升免疫力呢？🧐呼吸系統助我們對抗空氣污染和細菌病毒的侵害，當中氣管壁長著纖毛，能夠分泌黏液黏著空氣中的污染物，並且單向向上抖動，抖出來的就是痰。若吸了一口氣，剛好有一個肺結核菌或新冠病毒在氣流中間，沒被黏住；沒被黏住就沒法靠痰排出來，那如何是好？😱

幸好人體所有管腔包括消化道、腸道和泌尿道的細胞都有分泌型免疫球蛋白，即我們常說的抗體。這抗體可以被噴到管腔中間，抓住並消滅病毒和細菌，而合成這抗體的原料就是蛋白質。所以若蛋白質不足，相當於子彈不足😟，即使管腔內架設了槍，也無法及時殺滅敵人，以致容易發生呼吸道、泌尿道及消化道感染。

下星期的《活學營養》將與大家探討蛋白質的其他特質，以及如何抗疲勞🤩。