---
title: "21日 動起來！Let's Move！"
slug: "21-days-lets-move-march"
summary: ""
createdAt: 2022-03-06
category: ["fitness"]
event_start_date: "2022-03-07"
event_time: ""
event_location: "ZOOM"
event_fee: ""
tags: "在家運動"
---

<script>
  const assetsBasePath = `blog-posts/2022-03-06-${slug}`;
</script>

🎉明天7/3啟動啦🎉
🤷‍♂️日日留在家，就快宅到筋都緊？
💁歡迎參加這21天活動，循序漸進地動起來！
⭐ 輕鬆沒負擔，不用刻意換衫
⭐ 每次只是2-7分鐘
由星期一7/3開始，也可以隨時插班，非常彈性。
如欲了解更多，歡迎PM查詢😉
👏👏歡迎邀請親友一起參與，每天ZOOM快閃7️⃣分鐘，輕輕鬆鬆，一齊動動，好快就夠鐘😉