---
title: "苦去虎進，虎進甘來"
slug: "chinese-new-year-2022"
summary: ""
createdAt: 2022-02-01
category: ["spiritual"]
author: "melissa"
tags: ""
---

<script>
  const assetsBasePath = `blog-posts/2022-02-01-${slug}`;
</script>

苦去虎進，虎進甘來🧧<br>
虎嘯香江驅毒疫<br>
善進惡黜選賢能<br>
沛雨甘霖恩澤豐<br>
繼往開來萬象新<br>
恭祝各位友好：<br>
戰勝疫情，龍精虎猛💪🏻<br>
恩深澤厚，萬象更新🥳