---
title: "每逢考試、開會、報告前夕，就會腹痛腹瀉？"
slug: "pressure190906"
summary: ""
createdAt: 2019-09-06
category: ["nutrition"]
author: "joyce"
tags: ["自律神經"]
coverCaption: ""
---

<script>
  const assetsBasePath = `blog-posts/2019-09-06-${slug}`;
</script>

每逢考試、開會、報告前夕，就會腹痛腹瀉🚽？情緒緊張或受突如其來的壓力引致的腹瀉，可能是跟腸躁症有關 -- 腸胃道自律神經失調，只要面對壓力刺激，腸道就過度敏感，影響腸道蠕動。而腸躁症與神經系統原來也有莫大關係呢！😱

💡要告別壓力所引起的腸道問題，穩定「自律神經」是當務之急。
🙂學習自我放鬆，保持心情愉快，作息定時，規律運動，均有助自律神經逐漸重拾平衡，讓腸道回復正常蠕動。
🍴多吸收高鈣食物也能穩定情緒，協助調整自律神經！
