---
title: "瑞鼠迎春"
slug: "post200125"
summary: ""
createdAt: 2020-01-25
category: ["reflection"]
author: "admin"
tags: ""
---

<script>
  const assetsBasePath = `blog-posts/2020-01-25-${slug}`;
</script>

謝謝大家在豬年對Empower的鼎力支持！🥰🥰
踏入鼠年，我們再次以Empower五位創辦人的名字為題，祝願大家：
⭐️瑞氣盈門三陽泰，鼠年康寧百事興。迎樂接福納千祥，春滿花田萬山萌⭐️

#瑞鼠迎春 #新年勝舊年