---
title: "周末郊遊鬆一鬆@寫意寧靜－大潭水塘"
slug: "hiking1712"
summary: ""
createdAt: 2017-12-26
category: ["hiking"]
event_start_date: "2017-12-26"
event_time: "09:30-14:30"
event_location: "香港黃泥涌峽大潭水塘道"
event_fee: "免費"
tags: "大潭水塘"
---

<script>
  const assetsBasePath = `blog-posts/2017-12-26-${slug}`;
</script>

平時侷促在辦公室及煩囂市區，放假一於逃離市區抖抖氣！
今次我地由鰂魚涌出發，沿柏架山道上山至300米高的大風坳，再徐徐下山，經過大潭水塘至大潭道終點。
沿途遠眺港島東及九龍東的景色，飽覧大潭上水塘、大潭副水塘、大潭中水塘及大潭篤水塘，細心留意，或會發現松鼠蹤跡呢🐿！
除了自然景色之外，沿途亦經過有百多年歷史，興建於1920代年的紅屋，現被列為香港二級歷史建築。
行完山，一齊坐車返西灣河，食埋晏歎埋茶先走！
今次登山路線：鰂魚涌->柏架山道->大風坳->大潭水塘->大潭道（預計行山時間為2.5小時）
備註：混凝土路面，輕鬆易走
日期：26/12/2016 星期二（公眾假期）
時間：9:30-14:30
集合地點：鰂魚涌港鐵站A出口（9：30，不見即散）