---
title: "補腎強身 遠離痛風"
slug: "health2009"
summary: ""
createdAt: 2020-09-06
category: ["nutrition"]
event_start_date: "2020-09-06"
event_time: "16:00-16:45"
event_location: "ZOOM"
event_fee: "$30"
tags: "痛風，腎"
---

<script>
  const assetsBasePath = `blog-posts/2020-09-06-${slug}`;
</script>
🤟🏻腎天生有多好，一看手就知道？<br>
😱黑眼圈、耳鳴、高血壓都與腎有關？<br>
🧐補鈣對腎病者是利多於弊，還是弊多於利？<br>
😈痛風與腎功能關係有多大？<br>
👋🏻DIY排腎石，跟痛風講聲bye？<br>
同場加映：<br>
🧘‍♀「筋長一寸，命長十年」補腎強身拉筋法

主講：Empower創辦人兼營養總監、營養學家、營養師 黃詩田小姐 Melissa Wong