---
title: "週末郊遊鬆一鬆@青蔥碧海- 西貢赤徑"
slug: "hiking1704"
summary: ""
createdAt: 2017-04-14
category: ["hiking"]
event_start_date: "2017-04-14"
event_time: "09:50-13:45"
event_location: "西貢赤徑"
event_fee: "免費"
tags: "西貢赤徑"
---

<script>
  const assetsBasePath = `blog-posts/2017-04-14-${slug}`;
</script>

平時侷促在辦公室及煩囂市區，放假一於逃離市區抖抖氣！
西貢沿岸景色醉人， 赤徑位於西貢東部的海濱低地，風景開揚。我們選擇由北潭凹的涼亭起步，大約一小時的路程中，除了沿途飽覽西貢東的壯麗山嶺及海岸風光，尾段更會沿漫步海灘，欣賞美麗的海岸。
離開時，將會在赤徑碼頭乘坐街渡前往黃石碼頭。
行完山，一齊食埋晏先走！
預計行山時間為1小時，加上車程及回程坐船坐車時間，整段行程大約3.5小時。
日期：14/4/2016 星期五(公眾假期)
集合時間：上午9:50，不見即散 (坐10:00的94巴士)
集合地點：西貢巴士總站
路線：北潭凹>赤徑>赤徑碼頭
備註：預計坐12:20赤徑碼頭至黃石碼頭的街渡，再在黃石碼頭坐94號巴士回西貢碼頭，預計大約13:45到西貢碼頭
🍚 午餐暫定13:45-15:00，地點稍後確定。
若不午餐，請報名時註明。