---
title: "周末鬆一鬆：保齡球同樂"
slug: "bowling1907"
summary: ""
createdAt: 2019-07-13
category: ["fitness"]
event_start_date: "2019-07-13"
event_time: "11:00-14:00"
event_location: "荃灣灣景花園保齡球場"
event_fee: "$80/位(包括租用一對保齡球鞋費用)"
tags: "保齡"
---

<script>
  const assetsBasePath = `blog-posts/2019-07-13-${slug}`;
</script>

日期：2019年7月13日(六)<br>
時間：上午11:00-14:00<br>
地點：荃灣灣景花園保齡球場<br>
費用：$80/位(包括租用一對保齡球鞋費用)，<br>
打完保齡，一齊食午餐交流，費用自付，時間預計13:00-14:00